body,html{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: #ade8ea;
}
/*
div{
    font-style: normal;
    color: black;
    font-size: medium;
}
*/
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
	
}

.firstList{
    width: auto;
    float: right;
    margin-top: 8px;
}

.searchBox{
    display:table-cell;
    padding: 15px 30px;
    
}

.fistListfirst{
    display: table-cell;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color:#000000;
    transition: 0.5s;
}

.container{
    padding-left: 20px;
    padding-top: 20px;
}

.mapFrame{
    width: 800px; 
    height: 467px; 
    border: none;
}


.containerMap{


    background-color: azure;
    list-style: none;
    float: left;
    border: 2px solid rgb(19, 162, 187);
}

.containerStates{
    padding-right: 250px;
    width: 100px;
    height: 2400px;
    border-radius: 50px;
    background-color: azure;
    list-style: none;
    float: right;
    border: 2px solid rgb(19, 162, 187);
}
