body{
    margin: auto;
}
header{
    width: 100%;
    height: 70px;
    background-color: #ade8ea;
}

.headerName {
    
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
	text-align: center;
	text-decoration:none;
}

		


.firstList{
    width: auto;
    float: right;
    margin-top: 8px;
}

.searchBox{
    display:table-cell;
    padding: 15px 30px;
    
}

.fistListfirst{
    display: table-cell;
    padding: 15px 30px;
}


.dropbtn {
  background-color: #C9C9C8;
  color: white;
  padding: 12px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  top: 20px;
  left: 50px;

  border-style: solid;
	border-radius: 2px;
	border-width: thin;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: .75;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show 
{display: block;}

.flag {
	margin-top: 10px;
	border: 1px solid;
	margin-right: 20px;
	float: left;
}

li {
	margin-bottom: 10px;
	margin-left: 20px;
	display: block;
	text-align: left;
}

#map {
  margin: auto;
  margin-top: 75px;
  height: 350px;
  position: relative;
  width: 50%;
  border: 1px solid;
}

.stateName {
	font-size: 50px;
	text-align: center;
}

.info {
	background-color: azure;
	color: #8080ff;
	border-style: solid;
	border-radius: 5px;
	border-width: medium;
	border-color: #8080ff;
	margin: auto;
	margin-top: 30px;
	width: 500px;
	margin-bottom: 20px;
}
h3 {
	text-align:center;
}

a:link{
		text-decoration: none;
      }